.sidebar {
  position: fixed;

  height: 100%;
  background-color: #e3e3e3;
}


.dashboard-content {
  background-color: #3d4857;
  border-radius: 25px;
  color: #ededed;
  width: 100%;
  height: 100%;
  padding: 25px;
}

table {
  background-color: #f7f7f7;
  border-radius: 5px;
}

.evalButton {
  margin: 5px;
  padding: 5px;
}

.evalButton {
  margin: 5px;
  padding: 5px;
}
