  #font {
    background-color: white;
    border: none;
    color: black;
    /*padding: 30px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    /*margin-left:50px;*/
    align-items: center
  }
  #font.active{color: #4582EC;}
  .pages {
    width: 50%;
    margin: 0 auto;
  }
  div.pages  ul {
      width: 100%;
     cursor:pointer;
  }

  div.pages  li{
    width: 50px;
  }

  div.pages  a {
    width: 100px;
  }
